<a href="https://colab.research.google.com/github/sohanCoder308/138-144-Class-Activities-Sohan/blob/main/C-140%20Content-Based-Filtering/C-140-Content-Based-Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is Class Activity 140 - Content Based Filtering**

**-Taught by Rekha Mam**

**-Learned by Sohan**

**C-138 (REQUIRED CODE)**

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sohanscreation","key":"905b1393300c44030d61dcae51c1ad34"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content
 68% 6.00M/8.89M [00:00<00:00, 60.1MB/s]
100% 8.89M/8.89M [00:00<00:00, 78.4MB/s]

In [ ]:
!ls
!unzip tmdb-movie-metadata.zip
!ls

kaggle.json  sample_data  tmdb-movie-metadata.zip
Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv
kaggle.json  tmdb_5000_credits.csv  tmdb-movie-metadata.zip
sample_data  tmdb_5000_movies.csv

In [ ]:
import pandas as pd
import csv

df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")

df1.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

**C-139 (REQUIRED CODE)**

In [ ]:
df1.columns = ['id','title','cast','crew'] 
df2= df2.merge(df1,on='id')
df2.head(5)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [ ]:
C = df2['vote_average'].mean()
print(C)

6.092171559442011

In [ ]:
m = df2['vote_count'].quantile(0.9)
print(m)

1838.4000000000015

In [ ]:
q_movies = df2.copy().loc[df2['vote_count'] >= m]
print(q_movies.shape)

(481, 23)

In [ ]:
def weighted_rating(x, m = m, C = C):
  v = x['vote_count']
  R = x['vote_average']
  return (v / (v + m) * R) + (m / (m + v) * C)

q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [ ]:
q_movies = q_movies.sort_values('score', ascending=False)
q_movies[['original_title', 'vote_count', 'vote_average', 'score']].head(10)

                                     original_title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

In [ ]:
import plotly.express as px

fig = px.bar(q_movies.head(10).sort_values('score', ascending=True), x='score', y='original_title', orientation='h')
fig.show()

**FROM C-140 (MAIN)**

In [ ]:
df2[["original_title", "cast", "crew", "keywords", "genres"]].head(3)

                             original_title  ...                                             genres
0                                    Avatar  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  Pirates of the Caribbean: At World's End  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2                                   Spectre  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

[3 rows x 5 columns]

In [ ]:
from ast import literal_eval

features = ["cast", "crew", "keywords", "genres"]

for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

df2.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [ ]:
import numpy as np

def get_director(x):
  for i in x:
    if (i["job"] == "Director"):
      return i["name"]
  return np.nan

df2["Director"] = df2["crew"].apply(get_director)

def get_list(x):
  if isinstance(x, list):
    names = [i["name"] for i in x]
    return names
  return []

features = ["cast", "crew", "keywords", "genres"]

for feature in features:
    df2[feature] = df2[feature].apply(get_list)

df2.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
Director                 object
dtype: object

In [ ]:
df2[["original_title", "cast", "Director", "keywords", "genres"]].head(3)

                             original_title  ...                                         genres
0                                    Avatar  ...  [Action, Adventure, Fantasy, Science Fiction]
1  Pirates of the Caribbean: At World's End  ...                   [Adventure, Fantasy, Action]
2                                   Spectre  ...                     [Action, Adventure, Crime]

[3 rows x 5 columns]

In [ ]:
def clean_data(x):
  if isinstance(x, list):
    return [str.lower(i.replace(" ", "")) for i in x]
  else:
    if isinstance(x, str):
      return [str.lower(x.replace(" ", ""))]
    else:
      return ""

features = ["cast", "keywords", "Director", "genres"]
for feature in features:
  df2[feature] = df2[feature].apply(clean_data)

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + ' ' .join(x['Director']) + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['original_title'])

In [ ]:
def get_recommendations(original_title, cosine_sim):
    idx = indices[original_title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df2['original_title'].iloc[movie_indices]

get_recommendations('Fight Club', cosine_sim2)

1553                       Se7en
946                     The Game
421                       Zodiac
4564    Straight Out of Brooklyn
45                   World War Z
4462          The Young Unknowns
3863                      August
3043            End of the Spear
1010                  Panic Room
4101                Full Frontal
Name: original_title, dtype: object

In [ ]:
get_recommendations('The Godfather', cosine_sim2)

2731      The Godfather: Part II
867      The Godfather: Part III
4638    Amidst the Devil's Wings
4209            The Conversation
3293                 10th & Wolf
2255                   The Yards
1394               Donnie Brasco
3012               The Outsiders
4124          This Thing of Ours
1018             The Cotton Club
Name: original_title, dtype: object

In [ ]:
from google.colab import files

df2.to_csv("movies.csv")
files.download("movies.csv")